@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Base --- */

@layer base {
  body {
    font-family: "Arial", sans-serif;
    @apply text-base text-gray-800 font-normal;
  }

  label {
    @apply text-[15px];
  }
}

/* --- Components --- */

@layer components {
  .not-visible {
    visibility: hidden;
  }

  .answer-dropzone {
    @apply text-center font-bold border-dashed;
  }

  .answer-input {
    @apply w-36;
  }

  .answer-input,
  .answer-dropzone {
    @apply inline-block min-w-36 max-w-xl h-6 px-2 border border-gray-500 text-dark rounded outline-none placeholder:text-center placeholder:text-dark placeholder:font-bold focus:border-2 focus:border-blue-500;
  }

  /* Editor */

  .text-editor {
    ul {
      @apply list-disc pl-5;
    }

    ol {
      @apply list-decimal pl-5;
    }

    blockquote {
      @apply relative border-l-2 border-blue-500 pl-3.5 bg-blue-50 rounded-r;
    }

    blockquote::after {
      @apply content-["”"] absolute top-0.5 right-2 text-blue-500 text-lg font-semibold;
    }

    code {
      @apply inline-block bg-white p-2.5 border rounded-md;
    }

    img {
      @apply bg-gray-200 border-2 border-transparent transition-colors duration-200;
    }
  }

  .node-answer-input {
    @apply inline-block h-auto;
  }
}

.ProseMirror {
  @apply !outline-none !border-none whitespace-pre-wrap;
  word-wrap: break-word;
}

.ProseMirror-separator {
  display: none;
}

img.ProseMirror-selectednode {
  @apply border-blue-500;
}

/* --- Utilities --- */

@layer utilities {
  .container {
    @apply max-w-[1480px] w-full px-5 mx-auto;
  }
}

a.active {
  @apply !bg-gray-100 text-blue-500;
}
